.home {
    background: #6b6868;
    border-radius: 1%;
    box-shadow: inset 8.41px 8.41px 17px #1E1E1E, inset -8.41px -8.41px 17px #3E3C3C;   
}

.header {
    background-color: 707374;
    display:grid;
    border: 0px black inset;
    margin: auto;
    max-width: 1920px;
    
}

.titulo {
    border-color: #ffffff;
    padding: 0.6em 2.3em;
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    background-image: linear-gradient(45deg, transparent 50%, #3e3d3d 50%);
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.titulo:hover {
    color: #ffffff;
    background-position: 100%;
}

    
.tabla {
    width: 25%;
    border-collapse: collapse;

}
.forma{
  width: 13%;
  right: 40px;

}
#crear{
    background-color: beige ;
}

.imput {
    background: linear-gradient(145deg, #575757, #737373);
    border-radius: 10%;
    box-shadow: inset 17.72px 17.72px 32px #656565, inset -17.72px -17.72px 32px #626262;
    width: 50%;

      
} 

#caja{
    background: linear-gradient(145deg, #818E90, #A9BCBE);
    border-radius: 0%;
    box-shadow: inset 17.72px 17.72px 32px #707374, inset -17.72px -17.72px 32px #D5ECEF;   
    width: 1280px x 720;
    
}

.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .btnAgregar {
    
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(116, 116, 116);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
  }
  
  .btnAgregar:hover {
    color: black;
    background-color: rgb(170, 161, 161);
  }
  
  @keyframes bn13bouncy {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }